
.main_about {
background-image: url(../img/aboutUs.png);
background-position: center;
background-size: cover;
}
.about_pg1l1i1{
right:0;
top:21%; 
 }
.about_pg1r1 span{
width:100px;
height:100px;
line-height:95px; 
 }

 .about_pg1l1i img {
    width: 640px;
    height: 440px;
    max-width: 100%;
    height: auto; /* Ensures proper scaling if overridden */
}

@media screen and (max-width : 767px){
.about_pg1l1i img{
width:100%; 
 }
.about_pg1l1i1 {
position:static!important;
width:100%!important; 
padding:20px!important;
margin-top:15px;
 }
.about_pg1r1  p{
text-align:left; 
 }
.about_pg1r{
margin-top:15px; 
 }
.value_1r{
margin-top:15px; 
 }
.value_1rili {
margin-top:15px;  
 }
.academy_2i {
margin-top:8px;
margin-bottom:8px; 
 }
.value_1r h2{
text-align:center; 
 }
 }

@media (min-width:576px) and (max-width:767px) {

 }
@media (min-width:768px) and (max-width:991px) {
.about_pg1l1i img{
width:100%; 
 }
.about_pg1l1i1 {
width:80%;
left:0;
top:0;
padding:20px!important;
 }
.value_1l img{
min-height:350px; 
 }
.value_1rilir h5{
font-size:16px; 
 }
.value_1rilir p{
font-size:14px; 
 }
.academy_2i h5{
font-size:16px;  
 }
.academy_2i p{
font-size:14px;  
 }
 }

@media (min-width:992px) and (max-width:1200px) {
.value_1l img{
min-height:350px; 
 }
.value_1rilir h5{
font-size:16px; 
 }
.value_1rilir p{
font-size:14px; 
 }
 }



