
.main_cont {
background-image: url(../img/contactUs.png);
background-position: center;
    background-size: cover; /* Ensures the image covers the container without stretching */
}

.contact_1l .social_tag li a {
border-radius: 50%;
width: 35px;
height: 35px;
line-height: 35px;
display: block;
text-align: center;
color: #fff;
background:#3A78C9;
}
.contact_o1i span {
width: 80px;
height: 80px;
line-height: 75px;
}
.main_desti {
background-image: url(../img/career.png);
background-position: center;
    background-size: cover; /* Ensures the image covers the container without stretching */
  
}
.main_offer {
background-image: url(../img/38.jpg);
background-position: center;
}
/*********************contact_end****************/



@media screen and (max-width : 767px){
.contact_1l{
text-align:center;
margin-bottom:15px; 
 }
.contact_1l p{
text-align:left; 
 }
.contact_1r {
padding:30px 15px!important; 
 }
.contact_o1i {
margin-top:8px;
margin-bottom:8px; 
padding:30px 15px!important; 
 }
 }

@media (min-width:576px) and (max-width:767px) {

 }
@media (min-width:768px) and (max-width:991px) {
.contact_o1i h5{
font-size:16px; 
 }
.contact_o1i h6{
font-size:13px; 
 }
.contact_o1i {
padding:30px 15px!important;
 }
 }

@media (min-width:992px) and (max-width:1200px) {

 }




