

/*********************contact****************/
.main_pack {
background-image: url(../img/34.jfif);
background-position: center;
}
.main_pack_dt{
background-image: url(../img/37.jpg);
background-position: center; 
 }
/*********************contact_end****************/



@media screen and (max-width : 767px){
.pack_dt1l1il{
text-align:center;
margin-bottom:15px; 
 }
.pack_dt1l2  h4{
text-align:center; 
 }
.pack_dt1l3  h4{
text-align:center; 
 }
.pack_dt1l2il ul{
margin-top:15px!important; 
 }
.pack_dt1r{
margin-top:20px; 
 }
.pack_dt1r1il{
margin-top:5px;
margin-bottom:5px; 
 }
.pack_dt1r2il{
margin-top:8px;
margin-bottom:8px;  
 }
 }

@media (min-width:576px) and (max-width:767px) {

 }
@media (min-width:768px) and (max-width:991px) {
.pack_dt1l1ir h1{
font-size:24px; 
 }
.pack_dt1l2il h4{
font-size:18px; 
 }
.pack_dt1l2il ul li{
font-size:14px; 
 }
 }

@media (min-width:992px) and (max-width:1200px) {
.pack_dt1l2il h4{
font-size:24px; 
 }

 }



